<%= form_with(
  model: @message,
  local: true,
  data: { controller: "expiration", action: "change->expiration#updateExpirationTypeOptions" },
  class: "h-screen md:h-auto flex"
) do |form| %>
  <div class="flex flex-col min-w-full h-full justify-start gap-4 md:gap-6">
    <div class="flex flex-col gap-2 md:gap-4">
      <%= form.label :content, class: "block text-sm font-medium text-gray-700" %>
      <%= form.hidden_field :content, id: "message-content" %>
      <textarea id="markdown-editor" class="block w-full p-3 border border-gray-300 rounded-md shadow-sm"></textarea>
    </div>

    <div class="w-full flex flex-col gap-4">
      <%= form.label "expires message in:", class: "block text-sm font-medium text-gray-700" %>

      <div class="w-full flex justify-between">
        <div class="flex gap-2">
          <div
            data-expiration-target="expirationLimit"
          >
            <%= form.select(
              :expiration_limit,
              options_for_select((1..12).to_a, @message.expiration_limit),
              class: "mt-1
                      block
                      w-full
                      p-3
                      border
                      border-gray-300
                      rounded-md
                      shadow-sm
                      focus:ring-indigo-500
                      focus:border-indigo-500
                      text-sm
                      md:text-base"
            ) %>
          </div>

          <div
            data-expiration-target="expirationType"
          >
            <%= form.select(
              :expiration_type,
              [],
              class: "mt-1
                      block
                      w-full
                      p-3
                      border
                      border-gray-300
                      rounded-md
                      shadow-sm
                      focus:ring-indigo-500
                      focus:border-indigo-500
                      text-sm
                      md:text-base"
            ) %>
          </div>
        </div>

        <%= form.submit(
          "Create Message",
          class: "self-end
                  inline-flex
                  items-center
                  justify-center
                  h-10
                  py-2
                  px-5
                  border
                  border-transparent
                  shadow-sm
                  text-sm
                  font-medium
                  rounded-full
                  text-white
                  bg-indigo-600
                  hover:bg-indigo-700
                  hover:scale-105
                  transition-transform
                  focus:outline-none
                  focus:ring-2
                  focus:ring-offset-2
                  focus:ring-indigo-500"
        ) %>
      </div>
    </div>
  </div>
<% end %>
