<!DOCTYPE html>
<html>
  <head>
    <title>Privy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js", defer: true %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css", media: "all" %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div
        class="absolute w-full text-center"
        data-controller="blank-element"
        data-blank-element-target="containerToClear"
        data-action="click->blank-element#clearContainer"
      >
        <span
          class="inline-block w-full text-md <%= type == 'notice' ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700' %> py-2"
        >
          <%= msg %>
        </span>
        </div>
      </div>
    <% end %>
    <main class="min-h-screen flex items-start justify-start md:items-center md:justify-center p-0 md:p-4">
      <%= yield %>
    </main>
  </body>
</html>
