<!DOCTYPE html>
<html>
  <head>
    <title>TempMessage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="min-h-screen flex items-start justify-start md:items-center md:justify-center p-0 md:p-4">
      <%= yield %>
    </main>
  </body>
</html>
